# server
HOST=localhost
PORT=5000

# db credential
PGUSER=dbuser
PGPASSWORD=dbpass
PGDATABASE=dbname
PGHOST=dbhost
PGPORT=dbport

# JWT
ACCESS_TOKEN_KEY=generate-your-access-token-key
REFRESH_TOKEN_KEY=generate-your-refresh-token-key
ACCESS_TOKEN_AGE=1800 # set duration